<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Финальная вёрстка</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="#">
            <img src="logo.png" alt="Логотип">
            <span>Название сайта</span>
          </a>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <h1>Заголовок страницы</h1>
        <article>
          <ul>
            <li>Элемент списка 1</li>
            <li>Элемент списка 2</li>
          </ul>
          <p>Текст статьи</p>
          <a href="#">Ссылка в статье</a>
        </article>
        <hr>
      </div>
    </main>
    <footer>
      <p>
        <span>Копирайт 2025</span>
      </p>
    </footer>
  </body>
</html>