<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Семантика - сила">
    <title>Тестовое задание на понимание семантических блоков</title>
  </head>
  <body>
    <header>
      <nav>
        <p>Навигация в шапке сайта</p>
      </nav>
    </header>

    <aside>
      <p>Боковая панель с дополнительной информацией</p>
    </aside>

    <main>
      <section>
        <article>
          <p>Первая статья в основном контенте</p>
        </article>
        <article>
          <p>Вторая статья в основном контенте</p>
        </article>
      </section>
    </main>

    <footer>
      <nav>
        <p>Навигация в подвале сайта</p>
      </nav>
    </footer>
  </body>
</html>